@model   StingyPrice.Models.ViewModels.CategoriesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Categories</h2>
@{

 var menu = Html.Telerik().Menu()
    .Name("MainMenu");

  foreach (var mainCategory in Model.CategoryNameDictionary )
  {
    menu.Items(mn => mn.Add().Text(mainCategory.Key));
  }
 
    
    menu.Render();
    
}  
