@using StingyPrice.Models.ViewModels
@using StingyPriceDAL.Models
@model   StingyPrice.Models.ViewModels.ProductSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_StingyPageLayout.cshtml";
}
<h2>
    Search</h2>
<div id="SearchResultBox">
    @foreach (string key in Model.StoreProducts.Keys)
    {
    
        <div class="StoreColumn">
            @key
            @foreach (Product prod in Model.StoreProducts[key])
            {
                <div class="ProductColumn">
                    @prod.Name
                </div>
                        
            }
        </div>
    }
</div>
