@using StingyPrice.Models.ViewModels
@using StingyPriceDAL.Models
@model   StingyPrice.Models.ViewModels.ProductSearchViewModel
@{
  ViewBag.Title = "Search";
  Layout = "~/Views/Shared/_StingyPageLayout.cshtml";
}
<h2>
  Search</h2>
<div id="SearchResultBox">
  @{ Html.Telerik().Grid<ProductSearchViewModel>()
  .Name("Grid")
  .Columns(columns => columns.Bound(o => o.StoreProducts.Keys).Title("Store")).Render(); 
  }
</div>
